.sssd {

    background-color: rgb(0, 255, 255);
}


.fff {

    border-radius: 6px;

    width: 400px;
    height: 25px;
}


.ddd {
    border-radius: 6px;

    width: 400px;
    height: 25px;

}

.qqqq {

    border-radius: 6px;

    width: 400px;
    height: 25px;
}

.www{
    text-align: center;
    background-color: white;
    height: 2000px;
    width: 50%;
    border-radius: 10px ;
    

   
}

.ggg {


    border-radius: 6px;

    width: 400px;
    height: 25px;
}


.eee {
    border-radius: 6px;

    width: 400px;
    height: 25px;
}

.wrr {
    border-radius: 6px;

    width: 400px;
    height: 25px;
}

.wwww {
    border-radius: 6px;

    width: 400px;
    height: 25px;
}

.ccc {
    border-radius: 6px;

    width: 400px;
    height: 25px;
}

.jjj {
    border-radius: 6px;

    width: 400px;
    height: 25px;
}


.mmm {
    width: 100px;
    height: 20px;



}

.farangiz {
    width: 100px;
    height: 20px;
}

.fara {
    width: 500px;
    height: 200px;
}

.sh {

    width: 500px;

    height: 60px;

}

.shf {

    width: 500px;
    height: 100px;
}


.fash {

    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 6px;
}

.ffshsh {
    width: 400px;
    height: 30px;
    background-color: blueviolet;
    border-radius: 6px;

}

.nnm {

    border-radius: 7px;
}

.farasha {

    background-color: white;
    text-align: center;

    

    border-radius: 15px;

}

.farasha {
    
    text-align: center;
    height: 2000px;
    width: 50%;
}

.vvvb {
    color: blue;
}

